<!-- admin/homes/top 注文履歴一覧ページ（adminトップページ） -->
<div>
  <h2>注文履歴一覧</h2>
</div>

<div class="col-md-8 offset-md-1">
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <!--<th>注文ステータス</th>-->
      </tr>
    </thead>
    
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.crated_at %></td>
          <td><%= order.customer %></td>
          <td>
            <% order_item_toatl = 0 %>
            <% order.order_items.each do |order_item| %>
              order_item_toatl = order_item_toatl + order_item_quantity
            <% end %>
            <%= order_item_toatl %>
          </td>
          <!--<td>< = order_status_name(order) %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
