<container>
  <row>
    <div>
      <h2>新着商品</h2>

      <div class="d-flex justify-content-cente">
        <% @items.each do |item| %>
          <%= image_tag item.get_item_image(100,100) %>
          <p><%= item.name %></p>
          <p><span>￥</span><%= item.price %></p>
        <% end %>
        
        <div>
          <%= paginate @items %>
        </div>
      </div>
      
    </div>
  </row>
</container>
